{% extends 'bustimeadd.html' %}

{% block content1 %}
    <img src="../static/img/126054-anime-artwork-buses-vehicle-outdoors-anime-girls.jpg">
{% endblock %}

{% block cont %}
    <h1>WELCOME</h1>
{% endblock %}

{% block content2 %}
    <img src="../static/img/bus3.jpg">
{% endblock %}

{% block content3 %}
    <h2>Making Your Daily Traveling Easy</h2>
{% endblock %}

{% block content4 %}
    <div>
        <a href="{% url 'busli' %}"><h2>Bus Timmings</h2>
            <p>Here you can see all the bus timmings </p></a>
    </div>
{% endblock %}

{% block content5 %}
<img src="../static/img/1402444-bus-anime-girl-anime-artist-artwork-digital-art.jpg">
{% endblock %}
