{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>footer</title>
     <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
     
     <div class="footer">
          
          <form action="">
               
               <div class="gg">
                    &copy; 2023 bus ticket

                    
               </div>
          </form>
     </div>
       

   
</body>
</html>