{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
     <div class="about">
          <h1>ABOUT US</h1>

           <p>We are providing a useful experience for you users.Here we are using all the information we got about the buses that are running through certain routes,you users can simply look at the buses which contain a table of buses , to see the buses and the timmings or simply searching.</p>
           <h4>For Bus Conductors/Owners</h4>
           <p>Bus conductors/owners need to register then only they can enter their homepage . </p>  

     </div>
</body>
</html>