{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
     <div class="go">
          <form method="get" action="{% url 'goback' %}">
               <button type="submit">Back</button>
           </form>
     </div>
     <div class="main">
          {% for c in n %}
               <div class="ba">
                    <h3>NOTIFICATIONS</h3>
                    <div class="ka">
                         <P>Bus Name    : {{c.busname}}</P>
                         <P>Bus Nunmber : {{c.busno}}</P>
                         <P>{{c.update}}</P>

                    </div>
               </div>
          {% endfor %}
     </div>
</body>
</html>